ul.nav{
  width: 100%;
  text-align: right;
}
img
{
  width: 11em;
  height: 5em;
  margin-left: 19em;
top: -3.7em;
}

p
{
  margin-top: 5em;
}
li.col-sm-4
{

  font-size: 2em;
  margin-left: 1.6em;
}
.search
{
  margin-top: 10em;
  margin-left: 3em;

}
input
{
  width: 40em;
  border-radius: 1.5em;
}
.museum
{
  margin-top: 32em;
  width: 45em;
  text-align: center;
  margin-left: 1.5em;

}
.museum1
{
  margin-top: 30em;
  width: 45em;
  text-align: center;
  margin-left: 5.3em;
}
ul.vertical{
    list-style-type: none;
    margin-left: 1em;
    padding: 0em;
    width: 4.3em;
    text-align: center;
    background-color: #1B1C1C;
    border-radius: 0.4em;
}

ul.vertical li a {
    display: block;
    width: 60px;

    color: #9d9d9d;
}
.container
{
  width: 50em;
}
.cadre1
{
  width: 26em;
  height: 13em;
  margin-left: 12em;
}
.container2
{
  width: 50em;
}
